/* MIX */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Roboto', sans-serif;
}
section{
  padding: 50px 0;
}

/* section loghi */
.loghi{
  text-align: center;
  background-color: #F3F5F9;
}
.loghi h4{
  color:#7A859F;
  font-size:18px;
  text-transform: uppercase;
  font-weight: 500;
}
.loghi a{
  text-decoration: none;
  font-size:14px;
  font-weight: 500;
  color:#0B72FF;
}
.container{
  width:90%;
  margin:20px auto;
  display:flex;
  justify-content:center;
}
.container img{
  margin: 0 10px;
  width: calc((100% / 6) - 20px);

}

/* responsive */

@media screen and (max-width:767px){

  .container{
    flex-wrap: wrap;
  }

  .container img{
    width:calc((100% / 2) - 20px);
    padding:20px;

  }
}

/* deploy section */
.deploy{
  text-align: center;
}
.deploy h2{
  color: #031C4E;
  font-size: 32px;
  font-weight: 600;
  margin-bottom:10px;
}
.deploy p {
  font-size: 18px;
  font-weight: 500;
  color: #75809C;
  margin-bottom: 50px;
}

/* container sezione deploy */
.deploy .container{
  flex-direction: column;
}
/* container più piccolo */
.small-container{
  width:70%;
  margin: 0 auto;
  display:flex;
}
.list{
  width:20%;
}
.peculiar{
  width:80%;
  display:flex;
  flex-wrap: wrap;
  height:200px;
  background-color: yellow;
  border:1px solid black;
}
/* layout lista */
.deploy ul{
  padding-left:16px;
  margin-bottom:50px;
}
.deploy li{
  list-style-type: none;
  border-left: 1.5px solid lightgrey;
  padding: 10px 10px;
  text-align:left;
}
.deploy li a{
  color:#75809C;
  font-weight:500;
  font-size: 18px;
  text-decoration: none;
}
.box{
  height:200px;
  width:50%;
  background-color:green;
  border:1px solid black;
}
/* responsive */

@media screen and (max-width:767px){
  .small-container{
    flex-wrap:wrap;
  }
  .list{
    width:100%;
  }
  .peculiar{
    width:100%;
  }
  .box{
    width:100%;
  }
}
